<article class="project-card">
  <div class="project-header">
    <h3>{{title}}</h3>
  </div>

  <p class="project-description">
  {{description}}
  </p>

  <div class="project-meta">
    <div class="project-meta-item">
      <span>ROLE</span>
      <span>{{role}}</span>
    </div>

    <div class="project-meta-item">
      <span>ENVIRONMENT</span>
      <span>{{environment}}</span>
    </div>

    <div class="project-meta-item">
      <span>WORKLOAD</span>
      <span>{{workload}}</span>
    </div>
  </div>

  <div class="project-highlights">
    {{highlights}}
  </div>

  <div class="project-tags">
    {{tags}}
  </div>
</article>

